@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgb(155, 64, 167) 50%, rgb(33, 37, 56) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.forms {
    background-color: #eeeed9;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(12, 1, 1, 0.1);
    width: 100%;
    max-width: 500px;
    
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 400;
    font-size: 0.9rem;
}

input[type="text"],
input[type="date"],
input[type="tel"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1.5px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
    outline: none;
}

input:focus, select:focus {
    border-color: #4A90E2;
}

fieldset {
    border: 1.5px solid #333232;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 25px;
}

legend {
    padding: 0 10px;
    color: #777;
    font-size: 0.85rem;
}

.fieldset div {
    display: inline-block;
    margin-right: 20px;
}


.buttons-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

input[type="submit"] {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}

#enviar {
    background-color: #4A90E2;
    color: white;
}

#enviar:hover {
    background-color: #357ABD;
    transform: translateY(-2px);
}

#cancel {
    background-color: #e74c3c;
    color: white;
}

#cancel:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
}

#numerohome::placeholder {
    color: #aaa;
}

span {
    color: red;
}

.container {
    display: flex;
    gap: 10px;
}

.bb {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Lembrete para adicionar tema escuro e claro e funcionalidades!!!!!!!!!!!